body {
    opacity: 0.95;
    background-image: url("/Users/asta/BG-Image/screen-10.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.monaco-workbench .part.titlebar>.titlebar-drag-region {
  background-color: #1E2227;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container {
  background-color: #1E2227;
}
