/* body {
    opacity: 0.97;
    background-image: url("/Users/asta/BG-Image/bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
} */

.monaco-workbench .part.titlebar>.titlebar-drag-region {
  background-color: #18191A;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container {
  background-color: #18191A;
}

.mtk17 {
    font-weight: 600;
    font-style: italic;
}

.mtk18 {
    color: #ffffff;
}

.mtk4 {
    font-style: italic;
}

.mtk8 {
    font-style: italic;
}

.mtk11 {
    font-style: italic;
}

.mtk15 {
    font-weight: 600;
}

.mtk16 {
    font-style: italic;
}

/* Type Params  */
.dyn-rule-2-9 {
   color: rgb(158 157 157 / 80%);
}
.dyn-rule-2-10 {
   color: rgb(158 157 157 / 80%);
}
